* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrap {
    width: 100%;
    height: auto;
}

#wrap img {
    display: block;
    margin: 0 auto; /* 이미지만 중앙 */
    max-width: 100%; /* 이미지가 부모 요소보다 크지 않게 */
    height: auto; /* 비율 유지 */
}